h2 {
    text-align: center;
}

div {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.linki {
    text-align: right;
}

.source:hover {
    color: rgba(255, 0, 0, 0.539);
}

.info-box {
    display: flex;
    flex-direction: row;
}

@media (max-width: 600px) {
  .info-box {
    flex-direction: column;
  }
}

