h2 {
    text-align: center;
}

div {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.linki {
    text-align: right;
}

.source:hover {
    color: red;
}

.info-box {
    display: flex;
    flex-direction: row;
}

@media (max-width: 600px) {
  .info-box {
    flex-direction: column;
  }
}


.zdjecie {
    height: 200px;  
    width: 200px;
    margin-right: 1cm;
    border: 2px solid red; 
}