h2 {
    text-align: center;
}

div {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.linki {
    text-align: right;
}

.source:hover {
    color: red;
}

.info-box {
    display: flex;
    flex-direction: row;
}

@media (max-width: 600px) {
  .info-box {
    flex-direction: column;
  }
}

h1{
    text-align: center;
}

th{
    background-color: black;
    color: white;
    border-collapse: collapse;
    border: 2px solid black;
}

table,td{
    border: 2px solid black;
    border-collapse: collapse;
}

body{
    background-color: beige;
}


.zdjecie {
    height: 200px;  
    width: 200px;
    margin-right: 1cm;
    border: 2px solid red; 
}
input[type="submit"] {
    background-color: green;
    padding: 10px;
    color:white;
    margin-top: 15px;
}

select,
input[type="text"]{
    margin-top: 15px;
    background-color: blue;
    padding: 10px;
}

ol{
    border: 3px solid black;
    text-align: center;

}
