h1{
    text-align: center;
}

th{
    background-color: black;
    color: white;
    border-collapse: collapse;
    border: 2px solid black;
}

table,td{
    border: 2px solid black;
    border-collapse: collapse;
}

body{
    background-color: beige;
}